<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Park_Smart</title>
</head>
<body>
<nav class="navbar">
    <div class="navbar-brand">
        <h1> Park - Smart</h1>
    </div>
</nav>
<div class="container">
    <h1>Upload Car Image for RC number Detection</h1>
    <form method="post" action="/upload" enctype="multipart/form-data">
        <div class="image-upload">
            <label for="file-input">
                <img src="static/upload.png" alt="Upload Icon">
            </label>
            <input id="file-input" type="file" name="file" >
        </div>
        <br>
        <br>
        <button type="submit" value="Upload">Submit</button>
    </form>
</div>

</body>
</html>
